<h2>Scrollable line chart2</h2>
<div>
  <button style="margin-right: 20px" (click)="dataSetChanged(1)">DataSet1</button>
  <button style="margin-right: 20px" (click)="dataSetChanged(2)">DataSet2</button>
  <button style="margin-right: 20px" (click)="dataSetChanged(3)">DataSet3</button>
  <button style="margin-right: 20px" (click)="dataSetChanged(4)">DataSet4</button>
</div>

<figure id="scrollable-line-chart2"></figure>
<div id="tooltip" class="tooltip">
  <div id="line1" class="line1">This is a test</div>
  <div id="line2" class="line2">This is line 2</div>
</div>
