app-scrollable-line-chart {
  .container {
    overflow: hidden;
  }

  .y-container {
    position: absolute;
    z-index: 0;
  }

  .right-container {
  }

  .scrollable-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  svg.rightUpper {
  //  position: absolute;
  }

  .tooltip {
    position: absolute;
    width: 100px;
    height: 40px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,0.3);
    background: azure;
    visibility: hidden;
  }

  circle:hover {
    cursor: pointer !important;
  }

  .data-label:hover {
    cursor: default;
  }
}
